.DS_Store
.idea
*.ai
*.log
*.psd
*.sublime*
node_modules/
npm-debug.*
Thumbs.db
package-lock.json

#pdf files
files/Whitepaper_ch.pdf
files/Whitepaper_en.pdf
files/Whitepaper_kor.pdf
files/Whitepaper_viet.pdf
files/Fold_Brochure.pdf

