.header__wrapper {
  display: flex;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 58px;
  padding-bottom: 51px;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-right: auto;
}

.header__button {
  font-family: 'Rubik', 'Arial', sans-serif;
  box-sizing: border-box;
  padding: 10px;
  width: 144px;
  line-height: 20px;
  background: #ffffff;
  border: 1px solid #ffc700;
  border-radius: 100px;
}

@media (max-height: 900px) {
  .header__wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
