.about__group {
  display: flex;
}

.about__video-wrap {
  flex-shrink: 0;
  width: 512px;
  height: 286px;
  margin-right: 50px;
}

.about__video-wrap iframe {
  width: 100%;
  height: 100%;
}

.about__desc {
  max-width: 570px;
}

.about__text {
  margin: 0;

  &--strong {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 22px;
  }

  &:not(.about__text--strong) {
    margin-bottom: 30px;
  }
}

.about__button {
  display: inline-block;
  font-family: 'Rubik', 'Arial', sans-serif;
  box-sizing: border-box;
  padding: 12px 26px 10px;
  line-height: 18px;
  color: #ffffff;
  background: linear-gradient(90deg, #FFC700 5.65%, #FFE13A 95.2%);
  border-radius: 100px;
  box-shadow: 0 0 20px #ffffff;
  transition: all 0.1s;

  &:hover {
    box-shadow: 0 0 20px #ffc700;
  }
}

.about__rating-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.about__rating-item {
  width: 18%;
  padding: 4px;
  border-radius: 7px;

  dl {
    margin: 5px;
  }

  dt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-bottom: 10px;
    padding: 0 10px;

    img {
      height: 50px;
    }
  }

  &:nth-child(odd) {
    background-color: #ffc700;

    dt {
      background-color: #ffd14e;
      border-radius: 5px;
      border: 2px solid rgba(255, 255, 255, 0.4);
    }

  }

  &:nth-child(even) {
    background-color: #ffe13a;

    dt {
      background-color: #fee978;
      border-radius: 5px;
      border: 2px solid rgba(255, 255, 255, 0.4);
    }
  }

  dd {
    display: flex;
    justify-content: center;
    margin: 0 -5px;

    img {
      margin: 0 5px;
    }

    p {
      margin: 0 5px;
      font-size: 35px;
      color: #4f4f4f;
      text-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    }
  }

  p {
    margin: 0;
  }
}


@media (max-width: 991px) {
  .about__video-wrap {
    width: 350px;
    height: 195px;
    margin-right: 40px;
  }

}

@media (max-width: 767px) {
  .about__group {
    flex-direction: column;
  }

  .about__video-wrap {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about__text:not(.about__text--strong) {
    margin-bottom: 20px;
  }

  .about__desc {
    max-width: 700px;
  }

  .about__button {
    padding: 12px 14px 10px;
  }

  .about__rating-item {
    width: 26%;
    margin-bottom: 15px;
  }
}

@media (max-width: 575px) {
  .about__video-wrap {
    width: 290px;
    height: 161px;
  }

  .about__rating-item {
    width: 45%;
  }
}
