.contacts {
  padding-bottom: 50px;
}

.contacts__group {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__subtitle {
  margin: 0;
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 23px;
}

.contacts__text {
  margin: 0;
  margin-bottom: 18px;
  line-height: 18px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__list-item {
  margin-right: 23px;
}

.contacts__list-item a {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: linear-gradient(90deg, #FFC700 5.65%, #FFE13A 95.2%);
}

.contacts__list-item--medium a {
  background-image: url(../images/medium.svg), linear-gradient(90deg, #FFC700 5.65%, #FFE13A 95.2%);
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__list-item--reddit a {
  background-image: url(../images/reddit.svg), linear-gradient(90deg, #FFC700 5.65%, #FFE13A 95.2%);
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__list-item--github a {
  background-image: url(../images/github.svg), linear-gradient(90deg, #FFC700 5.65%, #FFE13A 95.2%);
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__list-item--bitcoin a {
  background-image: url(../images/bitcoin.svg), linear-gradient(90deg, #FFC700 5.65%, #FFE13A 95.2%);
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__list-item--stemit a {
  background-image: url(../images/steemit.svg), linear-gradient(90deg, #FFC700 5.65%, #FFE13A 95.2%);
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__button {
  font-family: 'Rubik', 'Arial', sans-serif;
  box-sizing: border-box;
  padding: 12px 26px 10px;
  line-height: 18px;
  color: #ffffff;
  background: linear-gradient(90deg, #FFC700 5.65%, #FFE13A 95.2%);
  border: none;
  border-radius: 100px;
  box-shadow: 0 0 20px #ffffff;
  cursor: pointer;
}

@media (max-width: 991px) {
  .contacts__group {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .contacts__text {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .contacts__list-item a {
    width: 38px;
    height: 38px;
  }

  .contacts__list-item--medium a {
    background-size: 26px 21px, auto;
  }
}

@media (max-width: 767px) {
  .contacts {
    max-width: 600px;
  }

  .contacts__list-item {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  .contacts__text br {
    display: none;
  }
}
