.mitoshi {
  padding-top: 250px;
  padding-bottom: 180px;
  background-image: url(../images/mitoshi-bg-bottom.png);
  background-repeat: no-repeat;
  background-position: 27% bottom;
  background-size: auto;
}

.mitoshi__desc {
  max-width: 540px;
  width: 100%;
  margin-bottom: 32px;
}

.mitoshi__text {
  margin: 0;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.mitoshi__button-group {
  width: 394px;
  display: flex;
  justify-content: space-between;
}

.mitoshi__button {
  font-family: 'Rubik', 'Arial', sans-serif;
  box-sizing: border-box;
  width: 144px;
  padding: 10px 22px;
  line-height: 20px;
  border-radius: 100px;
  border: none;
  cursor: pointer;

  &--transparent {
    width: 191px;
    color: #4f4f4f;
    background: none;
    border: 1px solid #ffc700;
  }

  &--gold {
    text-align: right;
    position: relative;
    width: 169px;
    color: #ffffff;
    background: linear-gradient(90deg, #FFC700 5.65%, #FFE13A 95.2%);
    box-shadow: 0 0 20px #ffffff;
  }
}

.mitoshi__button--gold::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translateY(-50%);
  width: 24px;
  height: 20px;
  background-image: url(../images/telegram.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-height: 1000px) {
  .mitoshi {
    padding-top: 220px;
  }
}

@media (max-height: 950px) {
  .mitoshi {
    padding-top: 200px;
  }
}

@media (max-height: 900px) {
  .mitoshi {
    padding-top: 180px;
  }
}

@media (max-height: 850px) {
  .mitoshi {
    padding-top: 150px;
  }
}

@media (max-height: 800px) {
  .mitoshi {
    padding-top: 130px;
  }
}

@media (max-height: 750px) {
  .mitoshi {
    padding-top: 110px;
  }
}

@media (max-width: 1199px) {
  .mitoshi {
    padding-top: 110px;
    padding-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .mitoshi {
    background-position: 50% bottom;
    background-size: 200px auto;
  }

  .mitoshi__text {
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .mitoshi__text {
    margin-bottom: 20px;
  }

  .mitoshi__button {
    padding: 12px 14px 10px;
    line-height: 18px;
  }

}

@media (max-width: 575px) {
  .mitoshi {
    padding-bottom: 0;
    background-image: none;
  }

  .mitoshi__button-group {
    width: 290px;
  }

  .mitoshi__button {
    width: auto;
    padding: 7px;
    line-height: 18px;

    &--transparent {
      width: auto;
    }

    &--gold {
      padding-left: 30px;
    }
  }

  .mitoshi__button--gold::before {
    left: 8px;
  }
}
