.solution__title {
  margin: 0;
  margin-bottom: 39px;
}

.solution__wrapper {
  max-width: 490px;
}

.solution__subtitle {
  margin: 0;
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 21px;
}

.solution__text {
  margin: 0;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.solution__button {
  display: inline-block;
  margin-top: 20px;
  font-family: 'Rubik', 'Arial', sans-serif;
  box-sizing: border-box;
  padding: 12px 26px 10px;
  line-height: 18px;
  color: #ffffff;
  background: linear-gradient(90deg, #FFC700 5.65%, #FFE13A 95.2%);
  border: none;
  border-radius: 100px;
  box-shadow: 0 0 20px #ffffff;
}
