.team__title {
  margin: 0;
  margin-bottom: 30px;
}

.team__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

  &--team {
    margin-bottom: 100px;
  }
}

.team__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__img-wrap {
  margin-bottom: 16px;
  width: 182px;
  height: 182px;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.04);
  background-image: url(../images/team-1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.team__member-name {
  margin: 0;
  margin-bottom: 5px;
  line-height: 18px;
  font-weight: 700;
}

.team__member-occup {
  margin: 0;
  line-height: 18px;
}
